$green: #38B769;
$blue: #5999AD;
$header-background-color: #D6F8D6;
$close-btn-color: #7D807F;
$close-btn-hover-color: #FF5C35;

$button-green: #2bb24c;
$button-hover-green: #05A838;
$proportion: calc(70px / 100%);
// Main component
body {
  overflow: hidden;
}

div.main {
  position: absolute;
  margin-left: 52px;
  left: 75px;
  padding-bottom: 102px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  height: 80%;
  overflow: scroll;
}

// Sidebar
.sidebar {
  margin-top: 0;
  height: 100%;
  width: 268px;
  position: fixed;
  background-color: $green;
  left: -216px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  overflow: auto;

  &:hover + .main {
    left: 343px;
    transition: all 0.4s;

  }

  &:hover {
    left: 0;
    .fa.fa-bars {
      display: none;
    }
    .pin-btn {
      display: block;
    }
    .sidebar-content {
      display: block;
    }
    .sidebar-user-info {
      display: block;
    }
  }

  .pin-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 1px;
    display: none;
    font-size: 10px;
    padding: 2px 7px;
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: Transparent;
    box-shadow: none;

    &:hover {
      opacity: 0.8;
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
  }

  .fa.fa-bars {
    color: white;
    font-size: 22px;
    position: absolute;
    right: 18px;
    top: 40px;
  }
}

.sidebar.pinned {
  left: 0;
  .fa.fa-bars {
    display: none;
  }
  .pin-btn {
    display: block;
  }
  .sidebar-content {
    display: block;
  }
  .sidebar-user-info {
    display: block;
  }
  &:hover + .main {
    left: 75px;
  }
}

.sidebar.pinned + .main {
  margin-left: 268px;
}

.sidebar-content {
  padding-left: 0;
  margin-top: 40px;
  color: white;
  display: none;
  overflow-y: scroll;
  height: 100%;
}

.sidebar-today, .sidebar-save {
  font-size: 14px;
  width: 96%;
  display: flex;
  padding: 5px;

  div {
    padding-left: 5px;
  }
  .sidebar-icon {
    margin-top: 4px;
    padding-right: 5px;
    padding-left: 30px;
  }

  &:hover {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
  }
}

.sidebar-add-content {
  color: #DBDBDB;
  font-size: 10px;
  box-shadow: 0 0 0 white;
  background-color: Transparent;
  border: 0.5px solid #DBDBDB;
  padding: 10px;
  width: 75%;
  margin-left: 23px;;
  margin-top: 40px;

  &:hover {
    color: white;
    border-color: white;
  }
}

.sidebar-content {
  .sidebar-collection-index {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 90px;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .collection-index-item {

    font-size: 14px;
    font-weight: bold;
    div {
      padding: 5px 30px;
      display: flex;
      h4 {
        font-weight: 800;
        font-size: 14px;
      }
      .collection-index-item-icon {
        font-size: 20px;
        font-weight: bold;
        padding-right: 10px;
        opacity: 0.3;
        transition: all 0.4s;

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        background-color: rgba(204, 204, 204, 0.5);
        cursor: pointer;
      }
    }

    .feed-item {
      padding-left: 55px;
      font-weight: normal;
      color: #DBDBDB;
      transition: color 0.4s;
      &:hover {
        color: white;
      }
    }
  }
}

.sidebar-organize-btn {
  padding: 5px 30px;
  margin-top: 30px;
  &:hover {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
  }
}

.sidebar-user-info {
  width: 268px;
  height: 70px;
  background-color: $green;
  position: fixed;
  bottom: 0;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid #DBDBDB;
  display:none;
  pre {
    font-size: 15px;
    font-weight: normal;
    padding: 5px 30px;
    color: white;
    h4 {
      padding-top: 10px;
    }

  }
  button {
    position: relative;
    left: 210px;
    bottom: 25px;
    font-size: 12px;
    padding: 3px;

    border-radius: 2px;
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: Transparent;
    box-shadow: none;

    &:hover {
      opacity: 1;
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}

.sidebar {
  button.getting-started {
    background-color: #9FABA1;
    margin-top: 100px;
    &:hover {
      background-color: $button-hover-green;
    }
  }


  h2 {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 20px;
    div {
      margin-top: 10px;
      padding-right: 0;
      font-size: 30px;
      color: white;
    }
  }
  h3 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
    font-style: italic;
    border-top: 1px solid black;
  }
}
