$green: #38B769;
$blue: #5999AD;
$header-background-color: #D6F8D6;
$close-btn-color: #7D807F;
$close-btn-hover-color: #FF5C35;

$button-green: #2bb24c;
$button-hover-green: #05A838;


// Modal Authentication element styles

div.modal-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.modal-header {
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  color: $green;
}

// Auth Form
div.auth-form {
  position: relative;
  padding: 20px;
  width: 75%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="text"], input[type="password"] {
  color: green;
  width: 85%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;

  &:focus {
      background-color: #D6F8D6;
  }
}

pre.alternative {
  padding: 10px;
}

.modal-submit-btn {
  width: 50%;
  background-color: $green;
  margin: 10px 0 0 0;
}

i.modal-close-icon {
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: black;

}

.modal-close-icon:hover {
  color: $close-btn-hover-color;
}
