$green: #38B769;
$blue: #5999AD;
$header-background-color: #D6F8D6;
$close-btn-color: #7D807F;
$close-btn-hover-color: #FF5C35;

$button-green: #2bb24c;
$button-hover-green: #05A838;

// Feed Index and FeedIndex Item

div.feed-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

div.feed-index-item {
  $gray: #C1BDBD;
  border: 1px solid #B3DABF;
  width: 250px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #87D269;
  transition: all 0.75s;

  &:hover {
    border: 1px solid black;
    color: $green;

    .feed-index-item-article {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      filter: grayscale(0%);
      color: black;
    }
  }

  .feed-index-item-title {
    font-size: 17px;
    color: black;
    font-weight: bold;
    text-underline-position: under;
    margin-top: 15px;
    padding-bottom: 10px;

    &:hover {
      color: green;
    }
  }

  .feed-index-item-description {
    font-size: 13px;
    height: 50px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .feed-index-add-btn {
    width: 40%;
    margin: 10px;
    font-size: 12px;
    font: 5px;
    padding: 5px;
    border: 2px solid $button-green;
    color: $button-green;
    background-color: white;
    font-weight: bold;

    &:hover {
      background-color: #B3DABF;
    }
  }

  .feed-index-item-article {
    height: 250px;
    border: 1px solid black;
    background-color: #D2F3D2;
    -moz-box-shadow:    0px 8px 3px -3px green;
    -webkit-box-shadow: 0px 8px 3px -3px green;
    box-shadow:         0px 8px 3px -3px green;
    color: gray;

    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
      filter: grayscale(80%);
    transition: all 0.75s;

    display:flex;
    flex-direction: column;
    align-items: left;

    div {
      max-height: 200px;
      width: 100%;
      overflow: hidden;
    }

    h4 {
      min-height: 50px;
      max-height: 100px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      font-size: 12px;
      overflow: hidden;
    }

  }
}
