$green: #38B769;
$blue: #5999AD;
$button-hover-green: #05A838;

.collection-index-main {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.collection-header {
  margin-left: 25px;
  margin-top: 20px;
  padding: 0;
  color: $green;
  font-size: 30px;
  align-self: flex-start;
}

.collection-description {
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 20px;
  padding: 0;
  opacity: 0.5;
}

.collection-index {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .collection-index-item {
    margin: 20px;
    padding: 5px;
    width: 260px;
    height: 300px;

    .collection-item-title {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      h2 {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .edit-icons {
      .pencil, .times {
        color: gray;
        padding: 2px;

        &:hover {
          cursor: pointer;
        }
      }
      .pencil:hover {
        color: $green;
      }
      .times:hover {
        color: red;
      }
    }
  }
}

.collection-title-edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    padding: 15px 0;
    font-weight: bold;
  }

  h4 {
      margin-top: 20px;
  }
  form {
    input[type="text"] {
      font-size: 12px;
      border-radius: 0;

      &:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border-color: 1px solid rgba(81, 203, 238, 1);
      }
    }

    input[type="submit"] {
      margin-top: 17px;
      font-size: 12px;
      padding: 5px;
      border-radius: 1px;
      align-self: flex-end;
      background-color: $green;

      &:hover {
        background-color: $button-hover-green;
      }
    }

    a {
      &:hover {
        color: red;
      }
    }
  }
}

.collection-create-form {
  form {
    display: flex;
    flex-direction: column;
    input[type="text"] {
      font-size: 12px;
      border-radius: 0;

      &:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border-color: 1px solid rgba(81, 203, 238, 1);
      }
    }

    input[type="submit"] {
      margin-top: 0;
      font-size: 12px;
      padding: 5px;
      border-radius: 1px;
      align-self: flex-end;
      background-color: $green;

      &:hover {
        background-color: $button-hover-green;
      }
    }


    .sidebar-add-content-collection-index {
      color: black;
      font-size: 10px;
      box-shadow: 0 0 0 white;
      background-color: white;
      border: 0.5px solid black;
      padding: 5px 20px;
      opacity: 0.5;
      margin: 0;
      margin-left: 30px;
      &:hover {
        background-color: #8CD783;
      }
    }
  }
}

.collection-delete-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
  }

  h3 {
    margin-top: 30px;
  }

  .delete-btns {
    margin-top: 10px;
    button {
      background-color: Transparent;
      border: 0;
      color: gray;
      opacity: 0.6;
      padding: 10px;
      box-shadow: 0 0 0;
      border-radius: 0;

      &:hover {
        color: black;
        opacity: 1;
      }
    }
    .confirm-delete-btn {
      border-right: 1px solid black;
    }
  }
}

.collection-item-feeds {
  border: 2px solid rgba(59, 119, 179, 0.4);
  border-radius: 3px;
  padding: 10px;
  margin-top: 20px;
  height: 250px;
  transition: all 0.2s;
  background-color: rgba(169, 243, 169, 0.5);
  &:hover {
    border: 2px solid rgba(59, 119, 179, 1)
  }
  .collection-feed-item {

    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 12px;
    &:hover {
      background-color: #F6FF97 !important;
    }
  }
}

.no-feeds {
  font-size: 12px;
  opacity: 0.4;
}
