$green: #38B769;

.collection-detail {

  h1 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: $green;
  }
  .collection-detail-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
