$green: #38B769;

.collection-detail {
  margin-left: 100px;
  
  h1 {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    color: #3F7FBF;
    font-size: 30px;
  }

  h3 {
    font-size: 15px;
    opacity: 0.4;
    margin-left: 20px;
    margin-top: 30px;
    padding: 0;
  }

  .no-articles {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: gray;
  }

  .collection-detail-articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
