div.article-index {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  div.article-index-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    width: 270px;
    height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -o-filter: grayscale(90%);
    -ms-filter: grayscale(90%);
      filter: grayscale(90%);
    transition: all 0.75s;
    color: gray;


    .wrapper {
      -webkit-column-width: 150px;
      column-width: 150px;
      height: 100%;
      overflow: hidden;

    }
    h4, p {
      min-height: 50px;
      max-height: 100px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 15px;

    }

    h4 {
      font-weight: bold;
    }
    p {
      font-size: 12px;
      margin-top: 0;

    }

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      -ms-filter: grayscale(0);
        filter: grayscale(0);
        color: black;
    }
  }


div.image-wrapper {
  max-height: 180px;
  min-height: 180px;
  width: 100%;
  border: 0;
  overflow: hidden;

}
