div.article-index {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  div.article-index-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

    width: 270px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    // -webkit-filter: grayscale(90%);
    // -moz-filter: grayscale(90%);
    // -o-filter: grayscale(90%);
    // -ms-filter: grayscale(90%);
    //   filter: grayscale(90%);
    transition: all 0.4s;
    color: gray;

    .wrapper {
      -webkit-column-width: 150px;
      column-width: 150px;
      height: 80px;
      overflow: hidden;

    }

    .header-wrapper {
      -webkit-column-width: 150px;
      column-width: 150px;
      height: 50px;
      overflow: hidden;
    }
    h4, .article-content {
      min-height: 50px;
      max-height: 80px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 15px;

    }

    h4 {
      min-height: 30px;
      font-weight: bold;
    }
    .article-content {
      font-size: 12px;
      margin-top: 5px;;

    }

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
      // -webkit-filter: grayscale(0);
      // -moz-filter: grayscale(0);
      // -o-filter: grayscale(0);
      // -ms-filter: grayscale(0);
      //   filter: grayscale(0);
        background-color:#E5FCCE;
        color: black;
        cursor: pointer;
    }
  }


div.image-wrapper {
  max-height: 180px;
  min-height: 180px;
  width: 100%;
  border: 0;
  overflow: hidden;

}

.article-details {
  height: 320px;
  padding-bottom: 10px;
}

.save-btn {
  text-align: center;
  width: 100%;
  border-top: 1px solid gray;
  // margin-top: 10px;
  padding-top: 6px;
  height: 100%;
  color: black;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    text-decoration: underline;

  }
}
