// .add-feed-main {
//   visibility: visible;
//   display: block;
//   width: 268px;
//   height: 100%;
//   left: 0px;
//   top: 0px;
//   position: fixed;
//   min-height: initial;
//   background-color: rgb(255, 255, 255);
// }

.add-feed-sidebar {
  visibility: visible;
  display: block;
  width: 268px;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgb(255, 255, 255);
}
