$green: #38B769;

.add-feed-main {
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgba(0, 0, 0, 0.5);


}

.add-feed-main.shown {
  display: block;
}


.add-feed-sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  width: 268px;
  height: 100%;
  left: -268px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgb(255, 255, 255);
  transition: all 1s;
  border-right: 1px solid gray;


}

.add-feed-sidebar.shown {
  left: 0px;
  transition: all 1s;

  span {
    margin-top: 40px;
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  h1 {
    font-size: 20px;
    color: $green;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.add-feed-collection {
  padding: 10px;

  .check-icon, .checkbox-icon {
    padding: 0 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
  }
}

.add-feed-collection.has-feed {
  color: green;
}
