$green: #38B769;
$blue: #5999AD;
$button-hover-green: #05A838;

.add-feed-main {
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.add-feed-main.shown {
  display: block;
}

.add-feed-sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  width: 268px;
  height: 100%;
  left: -268px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgb(255, 255, 255);
  transition: all 1s;
  border-right: 1px solid gray;
  z-index: 2;

  .new-collection-form {
    padding: 5px;
    form {
      display: flex;
      align-items: center;

      input[type="text"] {
        font-size: 12px;
        border-radius: 0;
        padding: 5px;
        width: 200px;
        &:focus {
          box-shadow: 0 0 5px rgba(81, 203, 238, 1);
          border-color: 1px solid rgba(81, 203, 238, 1);
        }
      }
      input[type="submit"] {
        font-size: 12px;
        padding: 5px;
        border-radius: 1px;
        background-color: $green;
        margin-left: 10px;

        &:hover {
          background-color: $button-hover-green;
        }
      }
    }
  }
}

.add-feed-sidebar.shown {
  left: 0px;
  transition: all 1s;

  span {
    margin-top: 40px;
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  h1 {
    font-size: 20px;
    color: $green;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.add-feed-collection {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .check-icon, .checkbox-icon, .plus-icon {
    padding: 0 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
  }

  p {
    margin: 0;
  }
}

.add-feed-collection.has-feed {
  color: green;
}

.new-collection {
  color: gray;
  padding: 10px;
  .plus-icon {
    padding: 5px 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
  }
  &:hover {
    color: black;
  }
}
