$green: #38B769;
$blue: #5999AD;
$header-background-color: #D6F8D6;
$close-btn-color: #7D807F;
$close-btn-hover-color: #FF5C35;

$button-green: #2bb24c;
$button-hover-green: #05A838;

.pop-out-main {
  visibility: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.pop-out-main.shown {
  visibility: visible
}

.pop-out-detail {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  width: 800px;
  height: 100%;
  right: -830px;
  top: 0px;
  position: fixed;
  min-height: initial;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid gray;
  overflow-y: auto;
  transition: all 0.4s;
}

.pop-out-detail.shown {
  right: 0;
}

.pop-out-close-icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  background-color: white;
  position: fixed;
  right: -830px;
  margin: 0;
  border-left: 1px solid gray;

  border-bottom: 1px solid gray;
  border-right: 1px solid white;
  transition: all 0.4s;
  z-index: 2;

  &:hover {
    color: red;
  }
}

.pop-out-close-icon.shown {
  right: 830px;
}

.feed-pop-out-detail {
  margin-left: 30px;
  margin-right: 30px;
  .feed-pop-out-header {
    padding: 20px;
    border-bottom: 1px solid black;
    div {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: 40px;
      color: $green;
      margin-top: 20px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    h3 {
      margin: 10px;
      margin-top: 30px;
      a {
        font-size: 13px;
        color: gray;
        text-decoration: none;
        transition: all 1s;

        &:hover {
          text-decoration: underline;
        }
      }

    }
    .add-feed-btn {
      width: 20%;
      margin: 10px;
      margin-top: 30px;
      font-size: 12px;
      font: 5px;
      padding: 5px;
      border: 2px solid $button-green;
      color: $button-green;
      background-color: white;
      font-weight: bold;

      &:hover {
        background-color: #B3DABF;
      }
    }
  }
}

.feed-pop-out-article-index {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 15px;
  // border: 1px solid green;
  h3 {
    font-size: 15px;
    opacity: 0.4;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    align-self: flex-start;
  }
}

.feed-article-item {
  display: flex;
  width: 650px;
  padding: 10px;
  margin: 10px;
  .article-image {
    min-width: 200px;
    min-height: 120px;
    max-width: 200px;
    max-height: 120px;
    display: flex;
    img {
      object-fit: contain;
    }
  }
  .article-info {
    margin-left: 10px;
    h4 {
      font-weight: bold;
    }
    p {
      margin-top: 5px;
      font-size: 12px;
      opacity: 0.6;
      min-height: 45px;
      max-height: 45px;
      overflow: hidden;
    }
    h6 {
      margin: 0;
    }
  }
  &:hover {
    background-color: #E5FCCE;
    cursor: pointer;
  }
}

.article-pop-out-detail {
  margin-left: 30px;
  margin-right: 20px;
  padding-bottom: 40px;
  .article-pop-out-header {
    h1 {
      font-size: 30px;
      font-weight: bold;
      padding: 20px;
    }
    h6 {
      margin: 0;
      padding-left: 20px;
      padding-bottom: 20px;
      font-size: 12px;
      border-bottom: 1px solid black;
      opacity: 0.5;
    }
  }

  .article-content {
    margin-top: 30px;
    padding-bottom: 30px;
    .feedflare {
      display: none;
    }
    .ct-ad-img {
      display: none;
    }
  }

  .article-url {
    font-size: 18px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 0.5;
    padding: 5px 30px;
    &:hover {
      background-color:#8CD783;

    }
  }



}
