$green: #38B769;
$blue: #5999AD;
$header-background-color: #D6F8D6;
$close-btn-color: #7D807F;
$close-btn-hover-color: #FF5C35;

$button-green: #2bb24c;
$button-hover-green: #05A838;

// Splash Page styles

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: $header-background-color;
}

button, input[type="submit"] {
  color: white;
  background-color: $blue;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: center;
}

button:hover, input[type="submit"]:hover {
  background-color: $green; //#8FDDDD;
  color: white;
}

a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  cursor: pointer;
  color: $green;
}

button.getting-started {
  color: white;
  width: 50%;
  text-align: center;
  border: 0px;
  margin: 50px;
  background-color: $button-green;
}

button.getting-started:hover {
  background-color: $button-hover-green;
}

h1.header-text {
  padding: 10px;
  text-shadow: 2px 2px teal;
  color: $green;
  font-size: 50px;
  text-align: center;
}

// Modal Authentication element styles

div.modal-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.modal-header {
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  color: $green;
}

// Auth Form
div.auth-form {
  position: relative;
  padding: 20px;
  width: 75%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="text"], input[type="password"] {
  color: green;
  width: 85%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;

  &:focus {
      background-color: #D6F8D6;
  }
}

pre.alternative {
  padding: 10px;
}

.modal-submit-btn {
  width: 50%;
  background-color: $green;
  margin: 10px 0 0 0;
}

i.modal-close-icon {
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: black;

}

.modal-close-icon:hover {
  color: $close-btn-hover-color;
}

// Feed Index and FeedIndex Item

div.feed-index {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

div.feed-index-item {
  $gray: #739F81;
  border: 1px solid #B3DABF;
  width: 250px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray;
  transition: all 0.75s;

  &:hover {
    border: 1px solid black;
    color: black;

    .feed-index-item-article {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      filter: grayscale(0%);
      color: black;
    }
  }

  .feed-index-item-title {
    height: 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 10px;

    &:hover {
      color: green;
    }
  }

  .feed-index-item-description {
    height: 100px;
  }

  .feed-index-add-btn {
    width: 40%;
    margin: 10px;
    font-size: 12px;
    font: 5px;
    padding: 5px;
    border: 2px solid $button-green;
    color: $button-green;
    background-color: white;
    font-weight: bold;

    &:hover {
      background-color: #B3DABF;
    }
  }

  .feed-index-item-article {
    height: 300px;
    border: 1px solid black;

    -moz-box-shadow:    0px 8px 3px -3px green;
    -webkit-box-shadow: 0px 8px 3px -3px green;
    box-shadow:         0px 8px 3px -3px green;
    color: gray;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
      filter: grayscale(100%);
    transition: all 0.75s;

    h4 {
      margin-top: 20px;
    }

  }
}
