h1 {
  font-size: 36px;
  padding: 10px;
  margin: auto;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: purple;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
}
